.cabinet {
  margin-bottom: 64px;
  margin-top: 25px;

  &__content {
    max-width: 1454px;
    margin: 0 auto;
    padding: 70px 15px;
    border: 1px solid $grayMedium;

    @include media-breakpoint-down(sm) {
      padding: 0;
      border: none;
    }
  }

  &__inner {
    max-width: 1058px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 288px auto;
    gap: 108px;
    min-height: 573px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 213px auto;
      gap: 50px;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: auto;
      min-height: fit-content;
      gap: 18px;
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;

    &__nav-btn {
      background-color: transparent;
      font-family: Oswald;
      font-size: clamp(11px, 2.5vw, 18px);
      line-height: 24px;
      color: $gray;
      padding: 0 13px;
      min-height: 44px;
      text-align-last: left;

      @include media-breakpoint-down(sm) {
        min-height: 40px;
      }

      &_active {
        background-color: $grayLight;
        color: $black;
      }

      &:nth-child(4),
      &:nth-child(6) {
        pointer-events: none;
      }
    }

    &__item {
      display: none;

      &_active {
        display: block;
      }
    }
  }

  .drop-down {
    &#tabs {
      @include media-breakpoint-down(sm) {
        width: 100%;
        position: relative;
      }

      .drop-down {
        &__select {
          display: none;
          text-transform: uppercase;
          background-color: $grayLight;
          font-family: Oswald;
          height: 40px;

          @include media-breakpoint-down(sm) {
            display: flex;
          }
        }
      }
    }

    &__select {
      width: 100%;
      height: 44px;
      padding: 0 11px;
      align-items: center;
      font-family: RobotoLight;
      font-size: clamp(11px, 2.5vw, 18px);
      position: relative;
      display: flex;
      border: 1px solid $grayMedium;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-image: url('../../img/svg/arr.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        right: 13px;
        transform: translate(0, -50%);
        transition: transform 0.5s ease;
      }

      &.active {
        &::before {
          transform: rotate(180deg) translate(0, 50%);
        }
      }
    }

    &__menu,
    &__list {
      position: absolute;
      width: 100%;
      background-color: $white;
      border: 1px solid $grayMedium;
      display: flex;
      flex-direction: column;
      z-index: 5;
      max-width: 392px;

      &.hidden {
        display: none;
      }
    }

    &__list {
      font-family: RobotoLight;
      padding: 0 16px;
    }

    &__item {
      padding: 5px 0;
    }
  }

  .dashboard,
  .account-info,
  .add-address {
    &__title {
      font-family: Oswald;
      font-size: clamp(14px, 2vw, 24px);
      margin-bottom: 25px;

      @include media-breakpoint-down(sm) {
        text-transform: uppercase;
        color: $gray;
        line-height: 20.75px;
        margin-bottom: 6px;
      }
    }
  }

  .dashboard {
    .acc-info {
      margin-bottom: 64px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }
    }

    .acc-info,
    .address-boock {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      @include media-breakpoint-down(sm) {
        gap: 20px;
      }

      @include media-breakpoint-down(xxs) {
        grid-template-columns: 1fr;
      }

      .title {
        font-family: Oswald;
        font-size: clamp(12px, 2vw, 18px);
        line-height: 26.68px;
        letter-spacing: 0.5px;
        color: #3f3f3f;
        margin-bottom: 17px;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }
      }

      p {
        font-family: RobotoLight;
        font-size: clamp(12px, 2vw, 16px);
        line-height: 20px;
        color: $gray;

        @include media-breakpoint-down(sm) {
          line-height: 16px;
        }
      }

      .buttons {
        display: flex;
        gap: 12px;
        margin-top: 9px;

        @include media-breakpoint-down(sm) {
          margin-top: 4px;
        }
      }

      .btn {
        font-family: RobotoMedium;
        font-size: clamp(10px, 2vw, 14px);
        line-height: 20px;
        text-align: center;
        color: $black;
        background-color: #e6f1fa;
        border: none;
        width: fit-content;
        height: fit-content;
        text-transform: none;
        padding: 0 10px;
      }
    }
  }

  .account-info {
    .form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      max-width: 528px;


      @include media-breakpoint-down(sm) {
        gap: 5px;
        max-width: 392px;
      }

      &__input {
        max-width: 330px;
        width: 100%;
        margin-top: 2px;

        @include media-breakpoint-down(sm) {
          max-width: none;
        }
      }


      &__title {
        font-family: Oswald;
        font-size: clamp(12px, 2.5vw, 24px);
        line-height: 68px;

        @include media-breakpoint-down(sm) {
          color: $grayMedium;
          text-transform: uppercase;
          line-height: 20.75px;
          margin-bottom: 2px;
        }
      }

      input[type='text'],
      input[type='email'],
      input[type='password'] {
        border: 1px solid #c4c4c4;
        max-width: 443px;
        width: 100%;
        min-height: 44px;
        font-family: RobotoLight;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 20px;
        padding: 0 16px;

        @include media-breakpoint-down(sm) {
          min-height: 40px;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
      }

      label {
        font-family: RobotoLight;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 20px;
        display: flex;
        gap: 5px;
        margin-top: 5px;

        span {
          color: $redHover;
        }
      }

      &__agree {
        color: $gray;
        position: relative;
        cursor: pointer;
        gap: 0 !important;
        align-items: center;
        margin-top: 0 !important;



        @include media-breakpoint-down(sm) {
          margin-top: 10px!important;

          &-change-password{
            margin-top: 5px!important;
          }
        }

        .custom-checkbox {
          position: relative;
          left: 0;
          display: inline-block;
          margin-right: 5px;
          border: 1px solid rgb(130, 130, 130);
          width: 10px;
          height: 10px;

          &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            display: inline-block;
            border: 1px solid $black;
            width: 10px;
            height: 10px;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.2s ease;
            background-color: $black;
            background-image: url('../../../src/img/svg/check.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        input[type='checkbox'] {
          width: 0;
          height: 0;
          opacity: 0;

          &:checked + .custom-checkbox::before {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }

      &__button {
        margin-top: 42px;

        @include media-breakpoint-down(sm) {
          margin-top: 12px;
        }

        .black {
          color: $white;
          background-color: $black;
          border-color: $black;
          max-width: 140px;
          width: 100%;

          @include media-breakpoint-down(sm) {
            max-width: 100%;
            padding: 7px 0;
          }

          &:hover {
            background-color: $grayLight;
            color: $black;
            border-color: $grayMedium;
          }
        }
      }
    }
  }

  .add-address {
    .form {
      display: flex;
      flex-direction: column;
      max-width: 528px;
      margin-bottom: 50px;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        max-width: 392px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
      }

      &__input {
        margin-top: 3px;
        max-width: 392px;
        width: 100%;
        margin-bottom: 15px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 5px;
        }
      }

      &__title {
        font-family: Oswald;
        font-size: clamp(12px, 2.5vw, 24px);
        line-height: 68px;

        @include media-breakpoint-down(sm) {
          color: $grayMedium;
          text-transform: uppercase;
          line-height: 20.75px;
          margin-bottom: 2px;
        }
      }

      input {
        border: 1px solid #c4c4c4;
        max-width: 443px;
        width: 100%;
        min-height: 44px;
        font-family: RobotoLight;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 20px;
        padding: 0 16px;

        @include media-breakpoint-down(sm) {
          min-height: 40px;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
      }

      label {
        font-family: RobotoLight;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 20px;
        display: flex;
        gap: 5px;
        margin-top: 5px;
        min-width: 101px;

        span {
          color: $redHover;
        }
      }

      &__dropdown {
        max-width: 392px;
        width: 100%;
        position: relative;
        margin-bottom: 15px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 5px;
          margin-top: 3px;
        }
      }
    }

    .black {
      color: $white;
      background-color: $black;
      border-color: $black;
      max-width: 140px;
      width: 100%;

      @include media-breakpoint-down(sm) {
        max-width: 392px;
        padding: 7px 0;
      }

      &:hover {
        background-color: $grayLight;
        color: $black;
        border-color: $grayMedium;
      }
    }

    .just-validate-error-label {
      padding: 0 16px;
      background-color: $grayLight;
      font-family: RobotoMedium;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.5s ease 0.2s,
        visibility 0.5s ease 0.2s,
        height 0.5s ease 0.2s;
    }

    .just-validate-error-field + .just-validate-error-label {
      opacity: 1;
      visibility: visible;
      height: 35px;
    }

    .address{
      margin-top: 21px;
    }
  }

  .wishlist {
    &__all-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @include media-breakpoint-down(xs) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 13px;
      }
    }

    .card {
      height: 100%;

      &__wrapper {
        display: flex;
        flex-direction: column;
      }

      &__title {
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
        margin-bottom: 10px;

        @include media-breakpoint-down(md) {
          font-size: 12px;
          line-height: 18px;
          font-weight: 200;
          margin-bottom: 4px;
        }
      }

      &__price {
        font-family: RobotoMedium;
        font-size: 14px;
        line-height: normal;
        color: $gray;
        margin-bottom: auto;

        @include media-breakpoint-down(md) {
          font-family: Oswald;
          font-size: 14px;
          color: black;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      &__add-to-bag {
        display: flex;
        gap: 10px;
        margin-top: 17px;

        @include media-breakpoint-down(md) {
          margin-top: 10px;
        }

        .count {
          width: 40px;
          height: 40px;
          border: 2px solid $grayMedium;
          color: $black;
          font-family: Oswald;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        .black {
          font-size: 14px;
          letter-spacing: 0.5px;
          color: $white;
          background-color: $black;
          border: none;
          height: 40px;
          width: 75%;

          @include media-breakpoint-down(md) {
            width: 100%;
            font-size: 12px;
            height: 38px;
          }

          &:hover {
            border: 1px solid $black;
            background-color: $white;
            color: $black;
          }
        }
      }
    }

    &__btns {
      display: flex;
      margin-top: 60px;
      gap: 15px;

      @include media-breakpoint-down(xs) {
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
      }

      .gray {
        max-width: 170px;
        width: 100%;
        border-color: $gray;
        color: $gray;

        @include media-breakpoint-down(xs) {
          max-width: 100%;
          font-size: 14px;
          height: 32px;
        }
      }
    }
  }
}
