.blog {
  padding-top: 45px;
  padding-bottom: 46px;
  background: $grayBg;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    padding-bottom: 22px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: Oswald;
    font-size: clamp(17px, 2.5vw, 24px);

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      gap: 14px;
    }
  }

  .new {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 13px;
    min-height: 420px;
    font-family: Oswald;
    background-color: $white;
    color: $black;

    @include media-breakpoint-down(lg) {
      min-height: 243px;
    }

    @include media-breakpoint-down(sm) {
      padding: 13px 10px 11px;
    }

    &__category {
      margin-bottom: 17px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: clamp(10px, 2vw, 18px);
      color: $grayMedium;

      @include media-breakpoint-down(md) {
        margin-bottom: 4px;
      }
    }

    &__title {
      margin-bottom: 26px;
      font-weight: normal;
      line-height: 38px;
      letter-spacing: 0.1px;
      font-size: clamp(14px, 2.5vw, 26px);

      @include media-breakpoint-down(lg) {
        line-height: normal;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 14px;
      }
    }

    &__info {
      margin-bottom: 20px;
      font-family: RobotoLight;
      line-height: 24px;
      letter-spacing: 1px;
      font-size: clamp(10px, 2.5vw, 14px);

      @include media-breakpoint-down(lg) {
        line-height: normal;
        letter-spacing: 0.1px;
      }
    }

    &__date-and-auth {
      position: relative;
      display: flex;
      margin-top: auto;
      width: 100%;
      font-weight: 300;
      gap: 3px;
      font-size: clamp(10px, 2.5vw, 13px);

      &::before {
        content: '';
        position: absolute;
        top: -13px;
        width: 100%;
        height: 4px;
        background-color: $black;

        @include media-breakpoint-down(lg) {
          top: -8px;
          height: 2px;
        }
      }
    }
  }
}
