.explore {
  margin-top: 115px;
  margin-bottom: 82px;

  @include media-breakpoint-down(sm) {
    margin-top: 27px;
    margin-bottom: 21px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    @include media-breakpoint-down(lg) {
      padding: 100px 12px 12px;
      background-image: url("../../img/main/explore-bg.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  &__img {
    max-width: 1060px;
    max-height: 363px;

    @include media-breakpoint-down(xl) {
      max-width: calc(766px + (1060 - 766) * ((100vw - 1440px) / (1920 - 1440)));
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -53px;
    }
  }

  &__info {
    position: relative;
    margin-right: 81px;
    padding-top: 20px;
    height: fit-content;
    max-width: 640px;

    @include media-breakpoint-down(xl) {
      margin-right: calc(0px + (81 - 0) * ((100vw - 1440px) / (1920 - 1440)));
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      border: 2px solid $grayMedium;
      padding: 16px 20px 13px;
      background-color: $white;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: $black;
      width: 98.21%;
      height: 112.5px;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &__title {
    font-family: Oswald;
    font-weight: 500;
    line-height: 72px;
    text-transform: uppercase;
    font-size: clamp(14px, 3vw, 56px);

    @include media-breakpoint-down(lg) {
      line-height: normal;
    }
  }

  &__about {
    margin: 34px 0;
    max-width: 640px;
    font-family: RobotoLight;
    font-weight: normal;
    line-height: 37px;
    letter-spacing: 0.29px;
    font-size: clamp(10px, 3vw, 25px);

    @include media-breakpoint-down(lg) {
      line-height: normal;
      text-align: center;
      letter-spacing: normal;
    }

    @include media-breakpoint-down(md) {
      margin-top: 5px;
      margin-bottom: 13px;
    }
  }

  &__btn {
    font-weight: 500;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 18px;

    @include media-breakpoint-down(sm) {
      padding: 6px 0;
      width: 85px;
      line-height: 15px;
      font-size: 10px;
    }
  }
}
