@import './../../../node_modules/swiper/swiper';

.summer-sale {
  position: relative;
  margin-top: 22px;
  font-family: Oswald;
  background-image: url('./../../img/main/sale-bg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }

  &__content {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 804px;
    padding: 47px 186px 44px 234px;
    width: 100%;
    gap: 55px;

    @include media-breakpoint-down(xl) {
      padding-right: calc(0px + (186 - 0) * ((100vw - 1440px) / (1920 - 1440)));
      padding-bottom: calc(70px + (44 - 70) * ((100vw - 1440px) / (1920 - 1440)));
      padding-left: calc(0px + (234 - 0) * ((100vw - 1440px) / (1920 - 1440)));
    }

    @include media-breakpoint-down(lg) {
      justify-items: center;
      grid-template-columns: 1fr;
      padding: 30px 0 57px;
      gap: 21px;
    }
  }

  &__info {
    position: relative;
    max-width: 504px;

    @include media-breakpoint-down(lg) {
      order: 1;
    }

    &::before {
      content: '';
      position: absolute;
      left: 49px;
      top: -22px;
      border-style: solid;
      border-width: 2px 2px 0 0;
      border-color: $black;
      width: 98.5%;
      height: 100.5px;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &__text-about {
    font-weight: 600;
    line-height: 96px;
    text-transform: uppercase;
    font-size: 86px;

    @include media-breakpoint-down(lg) {
      line-height: calc(35px + (96 - 35) * ((100vw - 320px) / (1440 - 320)));
      text-align: center;
      font-size: clamp(32px, 5.5vw, 86px);
    }

    span {
      color: transparent;
      -webkit-text-stroke: 2px $black;

      @include media-breakpoint-down(lg) {
        color: $black;
        -webkit-text-stroke: 0;
      }
    }
  }

  &__btn {
    margin-top: 48px;
    max-width: 175px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.5px;
    font-size: 18px;

    @include media-breakpoint-down(lg) {
      margin: 48px auto;
    }

    @include media-breakpoint-down(sm) {
      margin: 15px auto;
      width: 115px;
      height: 41px;
      font-size: 15px;
    }
  }

  &__swiper {
    margin: 0;
    width: 100%;
    max-width: 804px;
    // min-height: 709px;min-height

    @include media-breakpoint-down(md) {
      padding: 0 43px;
      // min-height: 709px;min-height
    }

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .swiper-slide {
    position: relative;
    right: 72px;
    transition: all 0.5s ease;
    opacity: 0;

    @include media-breakpoint-down(md) {
      right: 35px;
    }

    img {
      width: 118%;
      height: 100%;

      @include media-breakpoint-down(xs) {
        width: 135%;
      }
    }

    &-active {
      left: -25px;
      transform: scale(0.878);
      opacity: 1;

      @include media-breakpoint-down(md) {
        left: -8px;
      }
    }

    &-next {
      opacity: 1;
    }

    &-next + .swiper-slide {
      transition: unset;
      opacity: 0;
    }
  }

  .swiper-pagination {
    position: absolute;
    left: 28px;
    bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 22px;

    @include media-breakpoint-down(sm) {
      left: auto;
      bottom: 19px;
      width: 94px;
      height: 22px;
    }

    &-bullet {
      border: 1px solid rgb(130, 130, 130);
      width: 18px;
      height: 18px;

      &-active {
        border: 1px solid $black;
        width: 22px;
        height: 22px;
        background: $black;
      }
    }
  }

  .swiper-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 103px;
    height: 50px;
    gap: 3px;

    @include media-breakpoint-down(sm) {
      bottom: 10px;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      z-index: 2;
    }

    &-prew,
    &-next {
      padding: 17px 14px;
      width: 50px;
      height: 50px;
      background: $black;

      @include media-breakpoint-down(sm) {
        padding: 12px 14px;
        width: 40px;
        height: 40px;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
