.header {
  position: fixed;
  padding: 35px 0;
  width: 100%;
  font-family: Oswald;
  z-index: 20;
  background-color: $black;
  color: $white;

  @media (max-width: 1024px) {
    padding: 10px 0;
  }

  &__content {
    display: grid;
    justify-items: center;
    grid-template-columns: 94px 1fr 357px;

    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 94px;
    height: 44px;

    @media (max-width: 1024px) {
      width: 66.23px;
      height: 35.66px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: 21.6%;
    gap: 19px;

    @media (max-width: 1440px) {
      margin-left: 6.6%;
    }

    @media (max-width: 1024px) {
      display: none;
    }

    .menu {
      display: flex;

      &__item {
        position: relative;
        padding: 5px 14px;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 14px;

        a {
          color: $white;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          transition: width 0.5s ease;
          background: $redHover;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }

    &_adapt {
      position: fixed;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: 40px 15px;
      width: 100%;
      height: 100vh;
      transition: left 0.5s ease;
      z-index: 10;
      background: $black;

      &.active {
        left: 0;
      }

      .menu {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        gap: 25px;
        font-size: 18px;

        &__item {
          text-align: center;

          a {
            position: relative;
            color: $white;
          }
        }
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      margin-top: 2px;
      width: 16px;
      height: 16px;
    }

    input {
      font-family: Oswald;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      background: none;
      color: $white;
      font-size: 14px;

      &::placeholder {
        color: $white;
        opacity: 1;
      }
    }
  }

  &__login-and-buy {
    display: flex;
    gap: 20px;

    @media (max-width: 1024px) {
      display: none;
    }

    .log-and-sign {
      display: flex;
      font-weight: 600;
      line-height: 33px;
      font-size: 14px;

      a {
        position: relative;
        padding: 5px 8px;
        color: $white;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          transition: width 0.5s ease;
          background: $redHover;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }

    .buy {
      display: flex;
      align-items: center;
      gap: 18px;

      svg {
        width: 18px;
        height: 20px;
      }

      &__bag {
        display: flex;
        align-items: center;
        gap: 10px;

        .summ {
          max-width: 80px;
          font-family: RobotoMedium;
          font-weight: normal;
          line-height: 14px;
          letter-spacing: 0.25px;
          font-size: 12px;

          span {
            font-family: Oswald;
            font-weight: bold;
            line-height: 14px;
            letter-spacing: 1.6px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .burger-btn {
    position: relative;
    display: none;
    width: 20px;
    height: 15px;
    z-index: 11;

    @media (max-width: 1024px) {
      display: block;
    }

    span {
      position: absolute;
      left: 0;
      top: 40%;
      width: 100%;
      height: 3px;
      transform: translate(0, -50%);
      transition: all 0.5s ease;
      background-color: $white;

      &:first-child {
        top: auto;
        bottom: 0;
      }

      &:last-child {
        top: 0;
      }
    }

    &.active {
      span {
        &:first-child {
          bottom: 40%;
          transform: rotate(45deg);
        }

        &:last-child {
          top: 40%;
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          width: 0;
        }
      }
    }
  }

  &__search-and-bag {
    display: none;

    @media (max-width: 1024px) {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .search {
      svg {
        width: 19px;
        height: 19px;
      }

      input {
        display: none;
      }

      &.active {
        display: flex;
        gap: 15px;

        input {
          display: block;
          width: 100%;
        }
      }
    }

    .bag {
      position: relative;

      svg {
        width: 18px;
        height: 21.2px;
      }
    }
  }
}
