.new-baner {
  &__content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 191px 0;
    justify-content: center;

    @include media-breakpoint-down(md) {
      padding: 65px 0;
    }
  }

  h2 {
    font-family: Oswald;
    font-size: clamp(23px, 2.5vw, 48px);
    max-width: 1242px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 0 15px;
    text-align: center;
  }
}
