<footer class="footer">
  <div class="footer__advantage">
    <div class="container">
      <div class="footer__advantage_content">
        <div class="advantage">
          <svg>
            <use href="#done"></use>
          </svg>
          <p>Duties and Taxes Guaranteed</p>
        </div>
        <div class="advantage">
          <svg>
            <use href="#done"></use>
          </svg>
          <p>Free Express Shipping</p>
        </div>
        <div class="advantage">
          <svg>
            <use href="#done"></use>
          </svg>
          <p>Customer Love</p>
        </div>
        <div class="advantage">
          <svg>
            <use href="#done"></use>
          </svg>
          <p>Easy Returns</p>
        </div>
        <div class="advantage">
          <svg>
            <use href="#done"></use>
          </svg>
          <p>Secure Payment</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__last">
    <div class="container">
      <div class="footer__last_content">
        <a href="/" class="footer__logo" aria-label="go to home">
          <svg>
            <use href="#crisp-logo"></use>
          </svg>
        </a>
        <div class="footer__accordions">
          <div class="accordion">
            <div class="accordion__item">features</div>
            <div class="accordion__info">
              <a href="/catalog" class="accordion__link">men</a>
              <a href="/catalog" class="accordion__link">Women</a>
              <a href="/catalog" class="accordion__link"> boys</a>
              <a href="/catalog" class="accordion__link">girls</a>
              <a href="/catalog" class="accordion__link">new arrivals</a>
              <a href="/catalog" class="accordion__link">shoes</a>
              <a href="/catalog" class="accordion__link">cothes</a>
              <a href="/catalog" class="accordion__link">accessories</a>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion__item">Menu</div>
            <div class="accordion__info">
              <a href="/404" class="accordion__link">About us</a>
              <a href="/404" class="accordion__link">contact us</a>
              <a href="/cabinet" class="accordion__link">my account</a>
              <a href="/404" class="accordion__link">orders history</a>
              <a href="/404" class="accordion__link">MY WISHLIST</a>
              <a href="/new" class="accordion__link">BLOG</a>
              <a href="/sign-in" class="accordion__link">LOGIN</a>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion__item">contact us</div>
            <div class="accordion__info">
              <div class="contact">
                <p>Address:</p>
                <a href="https://www.google.com/maps/@42.5047025,1.5215752,20z?entry=ttu" target="_blank" class="accordion__link">123 STREET NAME, CITY, ENGLAND</a>
              </div>
              <div class="contact">
                <p>Phone:</p>
                <a href="tel:(123)456-7890" class="accordion__link">(123) 456-7890</a>
              </div>
              <div class="contact">
                <p>email:</p>
                <a href="mailto:MAIL@EXAMPLE.COM" class="accordion__link">MAIL@EXAMPLE.COM</a>
              </div>
              <div class="contact">
                <p>working days/hours</p>
                <p class="accordion__link">MON - SUN / 9:00AM - 8:00PM</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion__item">follow us</div>
            <div class="accordion__info">
              <a href="https://www.facebook.com/" target="_blank" class="accordion__link">
                <svg>
                  <use href="#facebook"></use>
                </svg>
                <p>FACEBOOK</p>
              </a>

              <a href="https://x.com/" target="_blank" class="accordion__link">
                <svg>
                  <use href="#twitter"></use>
                </svg>
                <p>TWITTER</p>
              </a>
              <a href="https://www.instagram.com/" class="accordion__link">
                <svg>
                  <use href="#instagram"></use>
                </svg>
                <p>INSTAGRAM</p>
              </a>
            </div>
          </div>
        </div>
        <div class="footer__join-form join-form">
          <div class="join-form__item">join us</div>
          <form id="join" class="join-form__form" onsubmit="event.preventDefault()">
            <label for="email">Subscribe to our newsletters</label>
            <input type="email" placeholder="Email Address" id="email" />
            <button class="join-form__btn subscribe" type="submit">Subscribe!</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__last-line">
    <div class="container">
      <div class="footer__last-line_content">
        <p>© 2019. Crisp theme Developed by Belvg</p>
      </div>
    </div>
  </div>
  <load ="/src/img/sprite.html" />
</footer>
