<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="index.html" class="header__logo">
        <svg>
          <use href="#crisp-logo"></use>
        </svg>
      </a>
      <div class="header__menu">
        <ul class="menu">
          <li class="menu__item">
            <a href="index.html">home</a>
          </li>
          <li class="menu__item">
            <a href="catalog.html">Shop</a>
          </li>
          <li class="menu__item">
            <a href="">blog</a>
          </li>
          <li class="menu__item">
            <a href="">Sale</a>
          </li>
          <li class="menu__item">
            <a href="">contact us</a>
          </li>
        </ul>
        <div class="header__search search">
          <svg>
            <use href="#search"></use>
          </svg>
          <input type="text" placeholder="Search" />
        </div>
      </div>
      <div class="header__menu_adapt">
        <ul class="menu">
          <li class="menu__item">
            <a href="index.html">home</a>
          </li>
          <li class="menu__item">
            <a href="/Crisp/catalog.html">Shop</a>
          </li>
          <li class="menu__item">
            <a href="">blog</a>
          </li>
          <li class="menu__item">
            <a href="">Sale</a>
          </li>
          <li class="menu__item">
            <a href="">contact us</a>
          </li>
          <li class="menu__item">
            <a href="sign-in.html" class="signin">SIGN IN</a>
          </li>
          <li class="menu__item">
            <a href="sign-up.html" class="create">CREATE AN ACCOUNT</a>
          </li>
        </ul>
      </div>
      <div class="header__login-and-buy">
        <div class="log-and-sign">
          <a href="sign-in.html" class="signin">SIGN IN</a>
          <a href="sign-up.html" class="create">CREATE AN ACCOUNT</a>
        </div>
        <div class="buy">
          <div class="buy__likes">
            <svg>
              <use href="#like"></use>
            </svg>
          </div>
          <div class="search mob">
            <svg>
              <use href="#search"></use>
            </svg>
            <input type="text" placeholder="Search" />
          </div>
          <div class="buy__bag">
            <div class="bag">
              <svg>
                <use href="#bag"></use>
              </svg>
            </div>
            <p class="summ">
              Shopping Cart <span><span>0,00</span>EUR</span>
            </p>
            <div class="bag__list pop-up">
              <div class="pop-up__content">
                <div class="pop-up__close">
                  <svg>
                    <use href="#close"></use>
                  </svg>
                </div>
                <div class="pop-up__list"></div>
                <a href="#" class="pop-up__btn btn black"> Go bag </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
