<div class="limits {=$color} skeleton">
  <div class="container">
    <div class="limits__content">
      <div class="limits__info">
        <h2 class="limits__title">shoping without limits.</h2>
        <p class="limits__about">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>
        <p class="limits__about_mob">Choose the best option for you, and it does not matter whether you are.</p>
        <a href="" class="limits__btn btn">shop now</a>
      </div>
      <div class="limits__img">
        <img src="src/img/{=$path}" alt="limits-img" class="limits__img_desk" />
        <img src="src/img/{=$path-mob}" alt="limits-img" class="limits__img_mob" />
      </div>
    </div>
  </div>
</div>
