<div class="{=$promoClass}">
  <div class="container promo__container">
    <div class="promo__info">
      <h2 class="promo__title">shoping without limits.</h2>

      <p class="promo__text">You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>
      <p class="promo__text promo__text_mobile">Choose the best option for you, and it does not matter whether you are.</p>
      <a href="/catalog" class="btn promo__btn">shop now</a>
    </div>
  </div>

  <!-- <picture>
    <source srcset="{=$webpSrc}" type="image/webp" />
    <img src="{=$imgSrc}" alt="photo" class="promo__img" />
  </picture> -->

  <!-- <img src="{=$imgSrc}" alt="photo" class="promo__img" /> -->
</div>
