<div class="you-may-also-like">
  <div class="container">
    <div class="you-may-also-like__content">
      <div class="you-may-also-like__head">
        <h3 class="you-may-also-like__title">You May Also Like</h3>
        <div class="swiper-btn">
          <div class="swiper-btn-prew you-may-also-like__swiper-btn-prew">
            <svg>
              <use href="#prew-gray"></use>
            </svg>
          </div>
          <div class="swiper-btn-next you-may-also-like__swiper-btn-next">
            <svg>
              <use href="#next-gray"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="you-may-also-like__swiper swiper skeleton">
        <div class="you-may-also-like__swiper-wrapper swiper-wrapper"></div>
      </div>
    </div>
  </div>
</div>
