.main-info {
  margin-top: 57px;

  @include media-breakpoint-down(md) {
    margin-top: 11px;
  }

  .container {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px auto;
    max-width: 1242px;
    margin: 0 auto;
    column-gap: 70px;

    @include media-breakpoint-down(l) {
      max-width: 1343px;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__tabs {
    display: flex;
    position: relative;
    gap: 15px;
    grid-row: 1 / 3;
    max-width: 625px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__pagination {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-pagination {
      &-bullet {
        background-color: transparent;
        border: 1px solid $gray;
        border-radius: 0;
        width: 11px;
        height: 11px;
        margin: 0;

        &-active {
          border: 1px solid $black;
          width: 13px;
          height: 13px;
          background: $black;
        }
      }
    }
  }

  &__all-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: -100px;
    top: -4px;

    @include media-breakpoint-down(l) {
      position: unset;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    .tabs__nav-btn {
      background-color: transparent;
      width: 86px;
      height: 106px;
      display: flex;
      justify-content: center;
      align-items: center;

      &_active {
        border: 2px solid $black;
      }

      img {
        max-width: 76px;
        max-height: 96px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .main-img {
    overflow: hidden;
    aspect-ratio: 0.789 / 1;
    width: 625px;

    @include media-breakpoint-down(md) {
      aspect-ratio: 1.25 / 1;
      margin-bottom: 29px;
      width: 100%;
    }

    &__swiper {
      width: 100%;
      height: 100%;
    }

    &__slide {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .bread-crumbs {
    margin-top: 12px;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 11px;
      padding: 0 15px;
    }
  }

  .info {
    @include media-breakpoint-down(md) {
      padding: 0 15px;
      display: flex;
      flex-direction: column;
    }

    &__brand-and-title {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @include media-breakpoint-down(md) {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 28px;
        order: 0;
      }
    }

    &__brand {
      font-family: Oswald;
      text-transform: uppercase;
      font-size: 16px;
      width: 70px;
      text-align: center;
      padding: 7px 0;
      background-color: $grayLight;
      color: $gray;
      height: fit-content;

      @include media-breakpoint-down(md) {
        font-size: 14px;
        width: 48px;
      }
    }

    &__title {
      font-family: Oswald;
      font-size: clamp(18px, 5vw, 48px);
      line-height: 56px;
      letter-spacing: 1.33px;

      @include media-breakpoint-down(md) {
        line-height: 23px;
        letter-spacing: 0.5px;
      }
    }

    &__color {
      font-family: Oswald;
      font-size: clamp(12px, 2.5vw, 14px);
      line-height: 20.75px;
      text-align: left;
      margin-top: 31px;
      text-transform: uppercase;

      @include media-breakpoint-down(md) {
        line-height: 23.78px;
        margin-top: 6px;
        display: none;
      }

      &-btns {
        display: flex;
        gap: 22px;
        margin-top: 15px;

        @include media-breakpoint-down(md) {
          gap: 20px;
          margin-top: 8px;
        }

        .color {
          position: relative;
          width: 17px;
          height: 17px;

          @include media-breakpoint-down(md) {
            width: 15px;
            height: 15px;
          }

          .custom-radio {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: aquamarine;
            top: 0;
            left: 0;

            &::before {
              content: '';
              position: absolute;
              width: 159%;
              height: 159%;
              border: 2px solid #000000;
              top: -5px;
              left: -5px;
              transform: scale(0);
              transition: 0.2s ease;

              @include media-breakpoint-down(md) {
                width: 154%;
                height: 154%;
                border: 1px solid #000000;
                top: -4px;
                left: -4px;
              }
            }
          }

          input[type='radio'] {
            opacity: 0;
            position: relative;
            z-index: 1;

            &:checked + .custom-radio::before {
              transform: scale(1);
            }
          }
        }
      }
    }

    .sizes {
      margin-top: 27px;

      @include media-breakpoint-down(md) {
        order: 2;
        margin-top: 25px;
        position: relative;
      }

      &__head {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
          margin-bottom: 6px;
        }

        p {
          font-family: Oswald;
          font-size: clamp(12px, 2.5vw, 14px);
          line-height: 20.75px;
          text-transform: uppercase;
        }

        button {
          background-color: transparent;
          font-family: RobotoLight;
          font-size: clamp(12px, 2.5vw, 14px);
          line-height: 16.41px;
          color: #0f6db1;
          text-decoration: underline;
        }
      }

      &__dropdown {
        &.dropdown__btn {
          display: none;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          font-family: Oswald;
          font-size: 12px;
          height: 40px;
          padding: 0 11px;
          text-transform: uppercase;
          border: 1px solid $grayMedium;

          @include media-breakpoint-down(md) {
            display: flex;
          }
          .dropdown__btn_arr {
            width: 16px;
            height: 16px;
            transition: transform 0.5s ease;

            svg {
              width: 100%;
              height: 100%;
            }
          }

          &.active {
            .dropdown__btn_arr {
              width: 18px;
              height: 18px;
              transform: rotate(180deg);
            }
          }
        }
      }

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 12px;

        @include media-breakpoint-down(md) {
          display: block;
          height: 0;
          overflow: scroll;
          opacity: 0;
          border: 1px solid $grayMedium;
          transition: height 0.5s ease;
          position: absolute;
          width: 100%;
          background-color: $white;
        }

        &.dropdown__list {
          &.active {
            @include media-breakpoint-down(md) {
              opacity: 1;
              height: 200px;
              overflow: scroll;
              margin-top: 5px;
            }
          }
        }
        label {
          width: 45px;
          height: 45px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Oswald;
          font-size: 14px;
          line-height: 68px;
          text-transform: uppercase;
          position: relative;
          color: $grayMedium;
          cursor: pointer;

          @include media-breakpoint-down(md) {
            color: $black;
            width: 100%;
          }

          &.no-size {
            pointer-events: none;
            background-image: linear-gradient(to bottom right, transparent 46%, #c4c4c4, transparent 54%);
            background-repeat: no-repeat;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }

        .custom-radio {
          width: 100%;
          height: 100%;
          border: 2px solid $grayMedium;
          position: absolute;

          @include media-breakpoint-down(md) {
            border: none;
          }
        }

        input[type='radio'] {
          width: 0;
          height: 0;
          opacity: 0;

          &:checked + .custom-radio {
            border: 2px solid $black;
          }

          &:checked + .custom-radio + label {
            color: $black;
          }
        }
      }
    }

    &__buy {
      margin-top: 38px;
      display: flex;
      gap: 24px;

      @include media-breakpoint-down(md) {
        order: 1;
        margin-top: 15px;
        gap: 34px;
      }

      .quantity {
        font-family: Oswald;
        font-size: 16px;
        &__title {
          font-size: clamp(12px, 2.5vw, 14px);
          line-height: 20.75px;
          text-transform: uppercase;

          @include media-breakpoint-down(md) {
            line-height: 17.78px;
          }
        }
      }
      #counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 119px;
        height: 43px;
        margin-top: 10px;
        border: 1px solid $grayMedium;

        input {
          width: 41px;
          height: 41px;
          font-size: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;

          &:active {
            background-color: $grayLight;
          }
        }
      }

      .price {
        font-family: Oswald;
        &__title {
          font-size: clamp(12px, 2.5vw, 14px);
          line-height: 20.75px;
          text-transform: uppercase;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        .info__color {
          display: none;

          @include media-breakpoint-down(md) {
            display: block;
          }
        }

        &__total {
          font-size: 26px;
          line-height: 38.53px;
          margin-top: 11px;

          @include media-breakpoint-down(md) {
            margin-top: 0;
            line-height: 28.53px;
          }
        }
      }
    }

    .bag {
      margin-top: 36px;

      @include media-breakpoint-down(md) {
        order: 3;
        margin-top: 15px;
      }

      &__first-line {
        display: flex;
        gap: 18.5px;

        @include media-breakpoint-down(md) {
          gap: 14px;
        }

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-color: $grayMedium;
          background-color: transparent;
          max-width: 218px;
          width: 100%;
          gap: 13px;
          font-size: 14px;

          @include media-breakpoint-down(md) {
            padding: 6px 0;
            gap: 3px;
          }

          &:hover {
            background-color: $grayLight;
            color: $black;
          }

          &.black {
            color: $white;
            background-color: $black;
            border-color: $black;

            &:hover {
              background-color: $grayLight;
              color: $black;
              border-color: $grayMedium;
            }
          }
        }
        svg {
          width: 14px;
          height: 14px;
        }
      }

      &__last-line {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #828282;
        font-family: Oswald;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 11px;
      }

      &__free {
        display: flex;
        align-items: center;
        svg {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}
