@font-face {
  src: url('../../fonts/Oswald-VariableFont_wght.woff2') format('woff2');
  font-family: Oswald;
  font-style: normal;
}

@font-face {
  src: url('../../fonts/Roboto-Light.woff2') format('woff2');
  font-family: RobotoLight;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../fonts/Roboto-Medium.woff2') format('woff2');
  font-family: RobotoMedium;
  font-weight: normal;
  font-style: normal;
}
