$maxWidth: 1908px;

//Разширения екранов для адаптивов
$xxs: 375px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$l: 1650px;
$xl: 1920px;

//Основные цвета
$mainColor: #e6f1fa;
$white: #fff;
$black: #000;
$black2: #3f3f3f;
$gray: #828282;
$grayMedium: #c4c4c4;
$grayLight: #f0f2f2;
$grayBg: #f8f9fb;
$blueLink: #0f6db1;
$blueAdvanced: #57a4eb;
$redHover: #eb5757;

//skeleton
// $backgroundSecond: #212426;
// $mainDarkColor: #333;
