@import './config/fonts';
@import './config/reset';
@import './config/vars';
@import './config/_media-breakpoints';

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
  margin-top: 114px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidth;
}

@import './components/header';
@import './components/footer';
