.catalog {
  padding: 72px 0 78px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__filter-forms {
    display: flex;
    flex-direction: column;
    width: 355px;
  }

  &__shop {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // align-items: flex-end;
    // width:100%;
    &_no-cards {
      width: 100%;
      margin-left: 40px;
    }
  }

  &__shop-dropdowns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  &__cards {
    width: 100%;
  }

  .nothing {
    display: none;
    margin: 0 auto;

    &_active {
      display: block;
    }

    &__title {
      font-size: 40px;
      font-family: RobotoMedium;
    }

    &__img {
      margin: 0 auto;
      display: block;
    }
  }
}
