.dropdown {
  position: relative;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $grayMedium;
    align-items: center;
    width: 255px;
    height: 46px;
    padding: 11px 16px 11px;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      background: rgba(146, 144, 144, 0.5);
    }

    @include media-breakpoint-down(md) {
      width: 202px;
    }

    &_filter {
      width: 69px;
    }
  }

  &__svg-arrow {
    width: 10px;
    height: 10px;
    transition: transform 300ms ease-in-out;

    &_rotate {
      transform: rotate(180deg);
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 486%;
    text-transform: uppercase;
    font-family: Oswald;
  }

  &__menu {
    position: absolute;
    z-index: 3;
    background: rgba(211, 207, 207, 0.5);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 5px 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    transition:
      opacity 300ms ease-in-out,
      visibility 300ms ease-in-out;

    &_open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    font-family: Oswald;
    cursor: pointer;
    &_active {
      color: red;
    }
  }
}
