.used-filters {
  display: none;

  &_active {
    display: block;
    margin-top: 31px;
  }

  border: 1px solid $black;
  padding: 15px 22px 40px 21px;

  @include media-breakpoint-down(md) {
    padding: 10px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__reset-box {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &__reset-text {
    &_main {
      font-weight: 400;
      font-size: 14px;
      line-height: 486%;
      text-transform: uppercase;
      font-family: Oswald;
    }
  }
  &__annot {
    font-weight: 400;
    font-size: 32px;
    line-height: 212%;
    font-family: Oswald;
  }
  &__svg {
    width: 10px;
    height: 10px;
    fill: #000;
    order: -1;

    &_cust {
      display: none;

      &_active {
        display: block;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 283%;
    font-family: Oswald;
  }

  &__value {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Oswald;
  }

  &__range-value {
    display: flex;
    gap: 10px;
  }

  &__color-value {
    display: flex; 
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__size-value {
    display: flex; 
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    p {
      font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Oswald;
    }
  }

  // &__price-box {
  //   display: none;

  //   &_active {
  //     display: block;
  //   }
  // }

  &__brand-box {
    display: none;

    &_active {
      display: block;
    }
  }

  &__size-box {
    display: none;

    &_active {
      display: block;
    }
  }

  // &__price-box {
  //   display: none;

  //   &_active {
  //     display: block;
  //   }
  // }

  &__color-box {
    display: none;

    &_active {
      display: block;
    }
  }

  &__length-box {
    display: none;

    &_active {
      display: block;
    }
  }

  .custom-radio {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // border: none;

    &::before {
      content: '';
      position: absolute;
      width: 159%;
      height: 159%;
      border: 2px solid #000000;
      top: -5px;
      left: -5px;
      transform: scale(0);
      transition: 0.2s ease;

      @include media-breakpoint-down(md) {
        width: 154%;
        height: 154%;
        border: 1px solid #000000;
        top: -4px;
        left: -4px;
      }
    }
  }

  .color {
    position: relative;
    width: 17px;
    height: 17px;

    @include media-breakpoint-down(md) {
      width: 15px;
      height: 15px;
    }

    &__black {
      .custom-radio {
        background-color: #292a2d;
      }
    }

    &__light-rose {
      .custom-radio {
        background-color: #f3ece2;
      }
    }

    &__dark-blue {
      .custom-radio {
        background-color: #24426a;
      }
    }

    &__dark-green {
      .custom-radio {
        background-color: #18574a;
      }
    }

    &__light-violet {
      .custom-radio {
        background-color: #666689;
      }
    }

    &__light-grey {
      .custom-radio {
        background-color: #c2beb6;
      }
    }

    &__dark-grey {
      .custom-radio {
        background-color: #aaaba7;
      }
    }

    &__red {
      .custom-radio {
        background-color: #971e34;
      }
    }

    &__yellow {
      .custom-radio {
        background-color: #cba13e;
      }
    }

    &__brown {
      .custom-radio {
        background-color: #73513c;
      }
    }

    &__ligth-rose {
      .custom-radio {
        background-color: #dab1b1;
      }
    }

    &__light-blue {
      .custom-radio {
        background-color: #2b9fa7;
      }
    }

    input[type='radio'] {
      opacity: 0;
      position: relative;
      z-index: 1;

      input[type='radio']:checked + .custom-radio::before {
        transform: scale(1);
      }
    }
  }
}
